extends layout
block main
  h2 Страница suggestion
  if suggestions
    ul  
      for suggestion in suggestions
        li
          a(href=`/suggestions/${suggestion.id}`)= suggestion.title
          | (#{suggestion.voters.size} )
          form( method="post" action=`/suggestions/${suggestion.id}`)
            button(type="submit")=suggestion.voters.has(username) ? "Отменить голос": "Проголосовать"
  else 
    p данных нет
  form(method="POST")
    input(type="text" name="title" placeholder="Введите предложение")
    br
    button(type="submit") Добавить предложение