extends layout
block main
  h2 Одно предложение
  h3 Проголосовавшие
  ul
    for voter in [...suggestion.voters]
      li=voter 
  a(href="/suggestions") back
  p= suggestion.title
  form(method="POST")
    if suggestion.voters.has(username)
      button(type="submit") Отменить голос 
    else  
      button(type="submit") Проголосовать